.restaurant-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.popular-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #183b56;
  margin-bottom: 0px;
}

.select-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .select-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.select-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #64748b;
}

.sort-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .sort-container {
    justify-content: flex-end;
  }
  .sorting-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.sort-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
  margin-left: 12px;
  margin-right: 12px;
}

.select-options {
  outline: none;
  border: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
  cursor: pointer;
}

.option {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
}

.search-input {
  font-size: 14px;
  height: 35px;
  width: 200px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  margin-right: 12px;
  padding: 8px 16px 8px 16px;
  width: 300px;
  border-radius: 5px;
  outline: none;
}